/*
These adjustments override bootstrap.min.css to give smaller headers in the blog index page.
Otherwise the headers appear too large.
*/

h1 {
    font-size: calc(1.325rem + .9vw); /* Article title */
}

h2 {
    font-size: calc(1.3rem + .6vw); /* Main headers within article */
}

h3 {
    font-size: calc(1.275rem + .3vw);
}
