# CSP permissions for datafusion.apache.org
# Adding 3rd party service Giscus – Enable Giscus comments for Datafusion blog posts.
# Approved by VP Data Privacy on 2026-05-09.
# See https://lists.apache.org/thread/bx9gll7gz0ol74kh7g43tocmnxy16z76
# (requires login to view)
SetEnv CSP_PROJECT_DOMAINS "https://giscus.app"
