# CSP permissions for datafusion.apache.org - Additional allowances to be coordinated with privacy team
# Adding 3rd party service Giscus – Enable Giscus comments for Datafusion blog posts.
# Approved by VP Data Privacy on <DATE>, ref <EMAIL/THREAD URL>.
SetEnv CSP_PROJECT_DOMAINS "https://giscus.app"
