<div id="contents">
    <div class="bg-white p-5 rounded">
        <div class="col-sm-8 mx-auto">

            <h3>Welcome to the Apache DataFusion Blog!</h3>
            <p><i>Here you can find the latest updates from DataFusion and related projects.</i></p>


{% for article in articles %}
    <!-- Post -->
    <div class="row">
        <div class="callout">
            <article class="post">
                <header>
                    <div class="title">
                        <h1><a href="/blog/{{ article.date.strftime('%Y/%m/%d') }}/{{ article.metadata.filename }}">{{ article.title }}</a></h1>
                        <p>Posted on: {{ article.locale_date }} by {{ article.author }}</p>
                        <p>{{ article.summary }}</p>
                        <footer>
                            <ul class="actions">
                                <div style="text-align: right"><a href="/blog/{{ article.date.strftime('%Y/%m/%d') }}/{{ article.metadata.filename }}" class="button medium">Continue Reading</a></div>
                            </ul>
                            <ul class="stats">
                                {% for tag in article.tags %}
                                    <li><a href="#">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </footer>
            </article>
        </div>
    </div>
{% endfor %}

        </div>
    </div>
</div>
