<!-- article contents -->
<div id="contents">
  <div class="bg-white p-4 p-md-5 rounded">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 main-content">
        <h1>
          {{ article.title }}
        </h1>
        <p>Posted on: {{ article.locale_date }} by {{ article.author }}</p>

        {% if article.toc %}
        <aside class="d-md-none mb-2">
          {{ article.toc }}
        </aside>
        {% endif %}

        {{ article.content }}

        {% include "comments.html" %}
      </div>
      {% if article.toc %}
      <aside class="d-none d-md-block col-md-4 col-xl-3 ms-xl-2">
        {{ article.toc }}
      </aside>
      {% endif %}
    </div>
  </div>
</div>