{% block head %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{SITENAME}}</title>
    {% include "styles.html" %}
  </head>
  <body class="d-flex flex-column h-100">
  <main class="flex-shrink-0">
    {% include "menu.html" %}
    
    <div id="contents">
      <div class="bg-white p-4 p-md-5 rounded">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 main-content">
            <h1>{{ page.title }}</h1>
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
    
    {% include "footer.html" %}
  </main>
  </body>
</html>
{% endblock %}
