# This workflow runs the pelican build process after any branch has merged
# into main and pushes the result to the branch `asf-site`.
name: Publish main
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build-pelican:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
        with:
          ref: 'main'
      - uses: apache/infrastructure-actions/pelican@main
        with:
          destination: 'asf-site'
          gfm: 'false'
